// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #6F61C0;
$cor-secundaria: #A084E8; // #B1BCE6;
$cor-terciaria: #8BE8E5; 
$cor-quaternaria: #F1F0C0;

// Tamanho das fonte
$tamanho-do-texto: 3rem;